<h1>¡Hola {{name}}!</h1>
<p>Gracias por tu compra. Aquí tienes tu entrada para el evento <strong>{{eventTitle}}</strong>.</p>
<p><strong>Código de Ticket:</strong> {{ticketCode}}</p>
<p><strong>Fecha:</strong> {{eventDate}}</p>
<p><strong>Ubicación:</strong> {{eventLocation}}</p>
<p>Presenta este código al ingresar.</p>
<div style="margin-top: 20px;">
    <img src="{{qrCode}}" alt="QR Code" style="width: 150px; height: 150px;" />
</div>
<div style="text-align: center; margin-top: 20px;">
    <a href="{{ googleWalletUrl }}" target="_blank" style="text-decoration: none;">
        <img src="https://raw.githubusercontent.com/google-pay/google-pay-button/main/src/images/brand-guidelines/google-wallet-button.png"
            alt="Añadir a Google Wallet" height="40" style="border: 0; height: 40px; cursor: pointer;" />
    </a>
</div>